@font-face {
    font-family: 'MinnieFont';
    src: url('fonts/minnie.eot');
    src: url('fonts/minnie.eot?#iefix') format('embedded-opentype'),
    url('fonts/minnie.woff') format('woff'),
    url('fonts/minnie.ttf') format('truetype'),
    url('fonts/minnie.svg#Minnie') format('svg');
}

@font-face {
    font-family: 'MickeyFont';
    src: url('fonts/mickey.eot');
    src: url('fonts/mickey.eot?#iefix') format('embedded-opentype'),
    url('fonts/mickey.woff') format('woff'),
    url('fonts/mickey.ttf') format('truetype'),
    url('fonts/mickey.svg#Mickey') format('svg');
}

.hero-logo {
    font-family: 'MickeyFont', 'Raleway', sans-serif;
    color: #A21010;
    font-size: 26px;
}

.navbar-link {
    font-family: 'MinnieFont', 'Raleway', sans-serif;
    color: #F0B728;
    font-size: 18px;
}

.char-well {
    background-color: #1d96d7;
}

.place-well {
    background-color: #6fa623;
    overflow: auto;
}

.char-link, .char-link:hover{
    color: white;
    font-size: 30px;
    vertical-align: middle;
}

.place-link, .place-link:hover {
    line-height: 1;
    color: white;
    font-size: 30px;
}

.char-icon, .char-icon-place {
    height: 75px;
    width: 75px;
    margin-right: 20px;
    background-color: white;
    object-fit: cover;
    border: 1px solid #636b6f;
}

.char-icon-place {
    object-fit: cover;
    margin: 5px;
    float: right;
}

.place-label {
    color: white;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.place-well-image {
    width: 100%;
}

.favicon {
    float: right;
    margin-left: 5px;
    color: lightgrey;
}

.place-label-show, .place-label-show-right {
    font-size: 24px;
    margin: 0 0 4px 0;
}

.float-right {
    float: right;
    vertical-align: middle;
}

.char-label-place {
    font-size: 30px;
    vertical-align: middle;
}

.glyphicon-ok:before, .glyphicon-heart:before, .glyphicon-remove:before, .glyphicon-question-sign:before {
    vertical-align: middle;
}